
<h1><%= @team.name%></h1><br>
<h2>Team Motto: <%= @team.motto%></h2><br>

<% @superheroes.each.with_index do |hero, index| %>
  <div class="hero">
    <% if index == 0 %>
    <p>Hero Name: <%= hero.name %></p><br>
    <p>Hero Power: <%= hero.power %></p><br>
    <p>Hero Biography: <%= hero.bio %></p><br>
    <% end %>
  <% end %>
  </div><br>

  <% @superheroes.each.with_index do |hero, index| %>
  <div class="hero">
    <% if index == 1 %>
    <p>Hero Name: <%= hero.name %></p><br>
    <p>Hero Power: <%= hero.power %></p><br>
    <p>Hero Biography: <%= hero.bio %></p><br>
    <% end %>
  <% end %>
  </div><br>

  <% @superheroes.each.with_index do |hero, index| %>
  <div class="hero">
    <% if index == 2 %>
    <p>Hero Name: <%= hero.name %></p><br>
    <p>Hero Power: <%= hero.power %></p><br>
    <p>Hero Biography: <%= hero.bio %></p><br>
    <% end %>
  <% end %>
  </div><br>



