<!DOCTYPE html>
<h1>Team </h1>
<p>Name: <%=@team.name %> </p>
<p>Motto: <%=@team.motto %> </p>
<% @super_heroes.each do |member| %>

  <h2>Hero Name: <%= member.name %></h2>
  <h3>Hero power: <%= member.power %></h3>
  <h3>Hero biography: <%= member.bio %></h3>
<% end %>


